{% extends "layout.html" %}
{% block content %}
    <a href="{{ url_for('main.course_detail', course_id=course.id) }}">&laquo; Back to Course</a>
    <hr>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add Video Lesson to {{ course.title }}</legend>
            {{ form.title.label }}<br>{{ form.title(size=50) }}<br><br>
            {{ form.video.label }}<br>{{ form.video() }}<br><br>
            {{ form.submit() }}
        </fieldset>
    </form>
{% endblock content %}